{% load otree_tags staticfiles %}

<div class="instructions well well-lg"></div>

    <h3 class="panel-sub-heading">
        Instrucciones <font color="black">
    </h3>
    <p>
       ¡Bienvenido! En este experimento vas a participar en {{ Constants.num_rounds }} rondas de la misma interacción.
       Antes de comenzar, serás emparejado con otro participante y <strong>se mantendrá este emparejamiento en todas
       las rondas</strong>.
       El emparejamiento se realizará al azar y de forma anónima. Es decir, tendrás una contraparte pero no sabrás
       quién es ni durante ni después del experimento. Tu identidad tampoco será revelada a tu contraparte.

    </p>
    <p>
        Existen dos jugadores, A y B.

        {% if player.role == 'A' %}

        Has sido elegido como el <strong>jugador A</strong>. Tu dotación inicial es {{ player.dotacion_A }}. La dotación inicial del jugador B es {{ player.dotacion_B }}
        . El jugador B posee un bien, el cual puede ser comprado por usted si llegan a un acuerdo de precio.
        Si usted logra comprar el bien, recibirá su dotación inicial ({{ player.dotacion_A }}) y además ganará 40 puntos (que es su valoración por el bien) y deberá pagar el precio acordado al jugador B.
        Si usted no logra comprar el bien, recibirá solamente su dotación inicial ({{ player.dotacion_A }}).

        {% else %}

        Has sido elegido como el <strong>jugador B</strong>. Tu dotación inicial es {{ player.dotacion_B }}. La dotación inicial del jugador A es {{ player.dotacion_A }}
        . Usted posee un bien, el cual puede ser vendido al jugador A si llegan a un acuerdo de precio.
        Si usted logra vender el bien, recibirá su dotación inicial ({{ player.dotacion_B }}) más el precio acordado con el jugador A.
        Si usted no logra vender el bien, recibirá su dotación inicial ({{ player.dotacion_B }}) y además ganará 20 puntos (que es su valoración por el bien).

        {% endif %}
    </p>

    <p>
        {% if group.extraccion == True %}

            {% if player.role == 'A' %}

            Recuerda que tomaste S/ 20 de la riqueza del jugador B, los recibirás al final del juego.

            {% else %}

            <strong>Recuerda que el jugador A tomó S/ 20 de tu riqueza, los cuales te serán quitados al final del juego.</strong>

            {% endif %}

        {% endif %}
    </p>