{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Extracción
{% endblock %}

{% block content %}

    {% if group.extraccion == True %}
    Se le dio la opción al jugador A de extraer 20 puntos de tu dotación inicial. Él lo hizo. Tu nueva riqueza es 10 puntos

    {% else %}

    Se le dio la opción al jugador A de extraer 20 puntos de tu dotación inicial. Él no lo hizo. Tu riqueza sigue siendo 30 puntos

    {% endif %}
    {% next_button %}

{% include Constants.instructions %}

{% endblock %}


