{% load otree_tags staticfiles %}

<div class="instructions well well-lg"></div>

    <h3 class="panel-sub-heading">
        <strong>Instrucciones (EJEMPLO)</strong>
    </h3>
    <p>
        En esta parte del experimento, vas a participar en {{ Constants.num_rounds }} ronda(s) de la misma interacción.
        Antes de la primera ronda, cada participante será emparejado con otro participante y <strong>se mantendrá este
        emparejamiento en todas las rondas</strong>. El emparejamiento se realizará al azar y de forma anónima. Es decir,
        cada uno tendrá una contraparte pero no sabrá quién es ni durante ni después del experimento. Su identidad
        tampoco será revelada a su contraparte.

    </strong>

    </p>
