{% extends "global/Page.html" %}
{% load otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("trade_attempted_").value = "{{ False }}";
      }
    </script>
{% endblock %}

{% block title %}
    Trading Page: Round {{ subsession.round_number }}
{% endblock %}

{% block content %}
    <p>
        These are some instructions.
        <br>
        Your group color is {{ group_color }}.
        <br>
        {% if token_color != Constants.trade_good %}
        You have a {{ token_color }} token.
        <br>
        Your role is Consumer.
        <br>
        {% else %}
        You do not have a token.
        <br>
        Your role is Producer.
        <br>
        {% endif %}
        
        Your trading partner's group color is {{ other_group_color }}.
        <br>
        {% if other_token_color != Constants.trade_good %}
        Your trading partner has a {{ other_token_color }} token.
        <br>
        Their role is Consumer.
        <br>
        {% else %}
        Your trading partner does not have a token.
        <br>
        Their role is Producer.
        <br>
        {% endif %}
    </p>
    {% if role_pre == other_role_pre %}
    <p>
        You cannot trade with your trading partner, since you are both
        {{ role_pre }}s.
    </p>
    <input type="hidden" name="trade_attempted" id="trade_attempted_"/>
    {% else %}
    <p>
        Would you like to offer to trade your
        {% if token_color != Constants.trade_good %}
        token for your partner's trading good?
        {% else %}
        trading good for your partner's token?
        {% endif %}
    </p>
    {% formfield player.trade_attempted %}
    {% endif %}
    {% next_button %}

{% endblock %}
